$height: 645px;

.welcome {
  margin: -30px;
  position: relative;
  height: $height;
  font-weight: bold;

  img {
    position: absolute;
    width: 100%;
    opacity: 0.5;
  }

  .content {
    padding: 40px 40px 40px 60px;

    .title {
      margin-bottom: 20px;
      font-size: 24px;

      i {
        font-size: 100px;
      }
    }

    .desc {
      margin-top: 80px;
      font-size: 28px;
      padding-left: 30px;
    }

    ul {

      li {
        margin-top: 20px;
      }
    }
  }
}
