.hwMenu {
  margin-top: 15px;
  background-color: #0f2d5c;
  padding: 15px;
  font-size: 18px;
  width: 100%;
  box-sizing: border-box;

  .content {

    a {
      color: white;
      margin: 0 20px;
    }
    a:hover {
      color: #adbac7;
    }
    .active {
      color: #6cb6ff;
    }
  }
}
