.counter {
  background-color: #FFF;
  margin: 100px;
  padding: 10px;
  border-radius: 3px;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 30px;

  button {
    width: 50px;
    background-color: transparent;
    border: none;
    font-size: 30px;
    font-weight: bold;
    border-radius: 3px;
    transition: all .15s ease-in;
  }
  button:hover:nth-child(1) {
    background-color: #F45B69;
  }
  button:hover:nth-child(3) {
    background-color: #C0DFA1;
  }
}
