$--color-scale-black: #1c2128;
$--color-scale-white: #cdd9e5;
$--color-scale-gray-0: #cdd9e5;
$--color-scale-gray-1: #adbac7;
$--color-scale-gray-2: #909dab;
$--color-scale-gray-3: #768390;
$--color-scale-gray-4: #636e7b;
$--color-scale-gray-5: #545d68;
$--color-scale-gray-6: #444c56;
$--color-scale-gray-7: #373e47;
$--color-scale-gray-8: #2d333b;
$--color-scale-gray-9: #22272e;
$--color-scale-blue-0: #c6e6ff;
$--color-scale-blue-1: #96d0ff;
$--color-scale-blue-2: #6cb6ff;
$--color-scale-blue-3: #539bf5;
$--color-scale-blue-4: #4184e4;
$--color-scale-blue-5: #316dca;
$--color-scale-blue-6: #255ab2;
$--color-scale-blue-7: #1b4b91;
$--color-scale-blue-8: #143d79;
$--color-scale-blue-9: #0f2d5c;
