.highlighter {
  position: relative;

  .titleArea {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    left: 5px;
    background-color: #3b3b3b;
    margin-left: -35px;
    padding: 5px 30px;

    img {
      width: 22px;
      height: 22px;
      filter: invert(0.7);
      margin-right: 8px;
    }
  }

  .customCode {
    background: none;
    border-bottom: 1px solid #3b3b3b;
    padding: 50px 24px 20px 30px;
    margin: 30px -30px;
  }
}
