.hwSearch {
  display: flex;
  justify-content: center;
  width: 25px;
  position: absolute;

  .project {
    background-color: #444;
    top: 39px;
  }

  div {
    position: absolute;
    padding-left: 40px;
    padding-right: 15px;
    transform: rotate(270deg);
    top: 128px;
    font-size: 14px;
    color: rgb(210, 210, 210);
    height: 23px;
    background-color: #444;

    img {
      position: absolute;
      width: 17px;
      height: 17px;
      right: 65px;
      top: 3px;
      transform: rotate(90deg);
      filter: invert(0.7);
    }
  }
  div:hover {
    background-color: rgb(53, 55, 57);
  }
  div:active {
    background-color: rgb(45, 47, 48);
  }
}
