.hwFooter {
  position: absolute;
  height: 25px;
  color: rgb(187, 187, 187);
  background-color: rgb(60, 63, 65);
  border-top: 1px solid #515658;
  bottom: 0;
  width: 100%;
  padding-left: 10px;
}
