// global style sheet
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  font-size: 16px;
  color: rgb(187, 187, 187);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;

  #root {
    height: 100%;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

// custom
a {
  color: black;
  text-decoration: none;
  display: inline-block;
  user-select: none;
  cursor: default;
}

a:hover {
  text-decoration: none;
}

hr {
  margin: 30px 0;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #666;
}

// global class
.show {
  display: block;
}

.hide {
  display: none;
}

.hwTitle {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 20px;
}

.hwFlex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hwBlueMarker {
  color: #4184e4;
}
