.hwHeader {
  display: flex;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 20px;

  img {
    width: 17px;
    height: 17px;
    margin-left: 3px;
    margin-right: 7px;
  }
}
